@use "../util" as u;
@use "colors" as c;
html{
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: u.$font;
    background-color:c.$very-dark-blue;
    color: c.$white;
}