@use "../util/" as u;
@use "../globals/colors" as c;

@media (min-width:1280px){
    .rating-component{
        border-radius: 30px;
        .svg1{
            margin: 2rem 0 1.5rem 1.8rem;
        }
        &__text{
            font-size:1rem;
            margin-left: 1.8rem;
            padding-right: 2.3rem;
            color: c.$medium-grey;
        }
        ul{
            margin-left: .3rem;
        }
        &__submit-button{
            margin-top: 1.7rem;
            height: 2.8rem;
        }
    }
}