@use "../util/" as u;
@use "../globals/colors" as c;

@media (min-width:1440px){
    .rating-component{
        width: 490px;
        border-radius: 30px;
        &__title{
            margin-top: .7rem;
        }
        &__text{
            line-height: 1.4;
        }
        ul{
           justify-content: space-around;
            margin: 2rem 1.2rem 0 1.2rem;

        }
        &__submit-button{
            width: 85%;
            margin: 2rem 1rem 0 2.2rem;
        }
    }
}