@use "../util/" as u;
@use "../globals/colors" as c;
$mg-left:2rem;
    .rating-component{
    max-width: 415px;
    margin: 1rem;
    background-color:c.$dark-grey;
    border-radius: 20px;
    transition: all 1s;

    .svg1{
        background-color: rgba(255,255,255,0.1);
        margin: 2rem 0 1rem 1.5rem;
        padding-left: 14px;
        padding-top: 13px;
        border-radius: 50%;
    }
    &__title{
        font-size: 1.8rem;
        margin-left: 1.8rem;
        margin-bottom: 1rem;
    }
    &__text{
        font-size:1.1rem;
        margin-left: 1.8rem;
        padding-right: 2.3rem;
        color: c.$medium-grey;
    }
    ul{
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-inline: auto;
     
        button{
         font-family: u.$font;
         font-size: 1rem;
         width: 3rem;
         height: 3rem;
         border-radius: 50%;
         background-color:  rgba(255,255,255,0.1);
         border: none;
         color: c.$light-grey;
         transition: all .5s;
         margin-left: -.5rem;
        //  margin-right: -.3rem;
         
        }
        button:hover{
         background-color: c.$medium-grey;
         color: c.$white;
        }
        .button-clicked {
            background-color: c.$orange;
            color:c.$white;
            transition: all .5s;
        }
        .button-clicked:hover{
            background-color: c.$orange;
        }
    }
    &__submit-button{
        display: block;
        width:85%;
        height: 3.3rem;
        //  margin: 2rem 1rem 0rem 1rem;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        margin-inline: auto;
        border-radius: 3rem;
        text-transform: uppercase;
        background-color: c.$orange;
        border: none;
        color:c.$white;
        font-size: 15px;
        line-height: 1.5;
        letter-spacing: 4px;
        font-style: u.$font;
        font-weight: 700;
        transition: all .5s;
       }
       &__submit-button:hover{
        background-color: c.$white;
        color: c.$orange;
       }
}
.hide{
    display: none;
}